/*----------- Global Classes -----------*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/*   font-family: 'Source Sans Pro', sans-serif;   */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Source Sans Pro";
  background-color: var(--light-goldenrod-yellow);
}

/* Color Template*/
:root {
  --light-goldenrod-yellow: #eaf0ceff;
  --silver-sand: #c0c5c1ff;
  --roman-silver: #7d8491;
  --english-violet: #574b60ff;
  --english-violet-2: #3f334dff;
}

/*-----x----- Global Classes ------x----*/

/*----------- Main Container -----------*/
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-bottom: 2.5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: min(90vw, 28rem);
  height: 37rem;
  background-color: var(--english-violet-2);
  border-radius: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calculator-screen {
  width: 90%;
  height: 8rem;
  margin: 1.3rem auto;
  border-radius: 0.8em;
  background-color: var(--silver-sand);
}

.button-container {
  margin-inline: auto;
  width: 90%;
  height: 25em;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.btn {
  background-color: var(--silver-sand);
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.btn-AC {
  background-color: rgb(228, 67, 67);
  color: white;
  font-weight: bold;
}

.btn-AC-click {
  background-color: rgb(192, 0, 0);
}

.btn-DEL {
  background-color: rgb(124, 126, 131);
}

.btn-DEL-click {
  background-color: rgb(93, 93, 95);
}

.btn-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.click {
  background-color: rgba(125, 132, 145, 0.9);
}

/*-----x----- Main Container ------x----*/

/*----------- Footer -----------*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
}
.footer-img i {
  color: black;
}

.footer-img i:hover {
  color: rgba(0, 0, 0, 0.7);
}

/*-----x----- Footer ------x----*/
