@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@400;700&display=swap");

/* font-family: 'Biryani', sans-serif; */

/* --------color palette-------- */

:root {
  --light-blue: #cadfe9;
  --blue: #0a84a3;
  --blue-hover: #219dbca2;
  --dark-blue: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;
}

/* ----x---color palette---x---- */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Biryani", sans-serif;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--light-blue);
}

.calculator {
  width: min(90%, 440px);
  height: auto;
  padding-bottom: 1.4rem;
  background-color: var(--dark-blue);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calculator-screen {
  width: 90%;
  height: auto;
  background-color: var(--blue);
  border-radius: 0.9rem;
  text-align: end;
  margin: 1.5em 0;
  padding: 0.9rem 1rem;
  padding-bottom: 0;
  word-wrap: break-word;
  word-break: break-all;
  box-sizing: border-box;
}

.previous-operator {
  min-height: 1.3em;
  font-size: 1.3em;
}

.current-operator {
  min-height: 1.5em;
  line-height: 1.3em;
  font-size: 2.8em;
  font-weight: bold;
}

.number-container {
  width: 90%;
  height: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0;
}

button {
  width: max(100%);
  height: auto;
  border-radius: 0.3em;
  border: none;
  background-color: var(--blue);
  color: white;
  font-family: "Biryani", sans-serif;
  font-size: clamp(1em, 6.2vw, 1.9rem);
  padding: max(0.3em);
  box-sizing: border-box;
  appearance: none;
}

button:hover {
  background-color: var(--blue-hover);
}

.span-2 {
  grid-column: span 2;
}

.orange {
  background-color: rgb(209, 62, 62);
}

.orange:hover {
  background-color: rgba(209, 62, 62, 0.842);
}
